body {
  background-color: #f4e3f6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(199, 190, 190);
  color: black;
}

p {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(199, 190, 190);
  color: black;
}

.container {
  width: 200%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.visualization {
  width: 50%;
  height: 100%;
}

.visualization:nth-child(1) {
  background-color: #ccc;
}

.visualization:nth-child(2) {
  background-color: #ddd;
}

.arrow-buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-buttons button {
  font-size: 24px;
  padding: 5px 10px;
}

button {
  padding: 15px 32px;
  text-align: center;
  position: relative;
  left: 45%;
  font-size: 16px;
  margin: 4px 2px;

  cursor: pointer;
  background-color: #000000;
  border:0.1em solid #6da8f5;
  color: white;
}